.fi-logo{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.medium-align > div{
    position: absolute !important;
    top: 25%;
}

@media screen and (max-width: 385px){
    [class~=slider-main-title] h2 {
        font-size: 23.5pt;
    }

    [class~=slider-main] [class~=owl-stage-outer] {
        height: 100%;
    }

    [class~=training] [class~=container]{
        height: auto !important;        
    }
}

@media screen and (max-width: 575px){
    [class~=training] [class~=container]{
        height: auto !important;
    }
}